################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Fpl/.vs/Fpl
/Fpl/Fpl/bin
/Fpl/Fpl/obj
/Fpl/FplParser.Tests/bin
/Fpl/FplParser.Tests/obj
/Fpl/Fpl.Tests/bin
/Fpl/Fpl.Tests/obj

/Fpl/Fpl/.fake
/Fpl/fpl-vscode-extension/*.vsix
.fake
/Fpl/fpl-vscode-extension/node_modules
/Fpl/FplLS/bin
/Fpl/FplLS/obj
/Fpl/.vs
# Un-ignore the affected subdirectory
!/Fpl/fpl-vscode-extension/dotnet-runtimes/
# ignore all subdirectories
/Fpl/fpl-vscode-extension/dotnet-runtimes/**
# un-ignore only the FplLS subdirectory and its subdirectories
!/Fpl/fpl-vscode-extension/dotnet-runtimes/FplLS/
!/Fpl/fpl-vscode-extension/dotnet-runtimes/FplLS/**
/Fpl/FplLSTests/obj/Debug/net6.0
/Fpl/FplLSTests/obj/Release/net6.0
/Fpl/FplLSTests/obj/Debug/net8.0
/Fpl/FplLSTests/obj/Release/net8.0
/Fpl/FplLSTests/bin
/Fpl/FplLSTests/obj
/Fpl/fpl-vscode-extension/Landau.odt
/Fpl/fpl-vscode-extension/.~lock.Landau.odt#
/Fpl/FplInterpreter.Tests/bin
/Fpl/FplInterpreter.Tests/obj
/Fpl/fpl-vscode-extension/dotnet-runtimes/FplLsDll/FplLS.exe
/Fpl/fpl-vscode-extension/dotnet-runtimes/FplLsDll/FplLS.pdb
