################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Fpl/.vs/Fpl
/Fpl/Fpl/bin
/Fpl/Fpl/obj
/Fpl/FplParser.Tests/bin
/Fpl/FplParser.Tests/obj
/Fpl/Fpl.Tests/bin
/Fpl/Fpl.Tests/obj

/Fpl/Fpl/.fake
/Fpl/fpl-vscode-extension/*.vsix
.fake
/Fpl/fpl-vscode-extension/node_modules
/Fpl/FplLS/bin
/Fpl/FplLS/obj
/Fpl/.vs
# Un-ignore the affected subdirectory
!/Fpl/fpl-vscode-extension/dotnet-runtimes/
# ignore all subdirectories
/Fpl/fpl-vscode-extension/dotnet-runtimes/**
# un-ignore only the FplLS subdirectory and its subdirectories
!/Fpl/fpl-vscode-extension/dotnet-runtimes/FplLS/
!/Fpl/fpl-vscode-extension/dotnet-runtimes/FplLS/**
copydlls.bat
